@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Space Grotesk', sans-serif;
}